/* ---------------------------------
 *             Customize
 * --------------------------------- */
.navbar
    &.on
        .navbar-menu
            background: transparent
        .navbar-item
            color: #fff

    .bg
        display: none
        overflow hidden
        position absolute
        top: 0
        left: 0
        z-index: -10
        width: 100%
        height: 100%
        transition: 2.5s

        &:before, &:after
            content: ""
            position: absolute
            width: 100%
            height: 200%
            background-image: url(/img/git.png)
            background-position: center
            background-size: auto 240px
            -webkit-animation: heroBgMove 10s linear infinite
            animation: heroBgMove 10s linear infinite
        
        &:before
            top: 200%

        &.type01
            background: #000033
        &.type02
            background: #330033
        &.type03
            background: #330000
        &.type04
            background: #003300
        &.type05
            background: #003333

@-webkit-keyframes heroBgMove 
    0% 
        -webkit-transform: translateY(0)
        transform: translateY(0)
    to 
        -webkit-transform: translateY(-100%)
        transform: translateY(-100%)

@keyframes heroBgMove 
    0% 
        -webkit-transform: translateY(0)
        transform: translateY(0)
    to 
        -webkit-transform: translateY(-100%)
        transform: translateY(-100%)
        