/* ---------------------------------
 *             Customize
 * --------------------------------- */
#bg-main
    background: linear-gradient( to top, #000, #123d4f )

    .particles-js-canvas-el
        position: fixed
