.widget
    .menu-list
        li
            ul
                margin-right: 0

        .level
            margin-bottom: 0

            .level-left, .level-right, .level-item
                flex-shrink: 1

            .level-left, .level-right
                align-items: flex-start

        .tag
            background: $light-grey
            color: $white-invert

    .tags
        .tag:first-child
            border-right: 1px solid $white
            background: $light-grey
            color: $primary

        .tag:last-child
            background: $light-grey
            color: $primary